<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game Shop</title>
    <link rel="icon" href="/static/images/head_icon.ico">
    <link rel="stylesheet" href="/static/css/accounts/password_change.css">
</head>
<body>
<nav>
    <p>Game Shop</p>
</nav>

<h1>Change your password</h1>
<br>
<form method="post" action="{% url 'change password' %}">
    <fieldset>
        <legend>Change your password</legend>

        {{ form }}
        {% csrf_token %}
        <br>
        <a href="{% url 'details' request.user.id %}">Go back</a>
        <button>Change</button>
    </fieldset>
</form>
</body>
</html>