<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game Shop</title>
    <link rel="icon" href="/static/images/head_icon.ico">
    <link rel="stylesheet" href="/static/css/accounts/profile_details.css">
</head>
<body>
<nav>
    <p>Game Shop</p>
    <ul>
        <li><a href="{% url 'dashboard' %}">Games</a></li>
        <li><a href="#">My Library</a></li>
        <li><a href="#">Contacts</a></li>
        <li><a>Profile</a>
            <ul>
                <li><a href="{% url 'details' request.user.id %}">Details</a></li>
                <li><a href="{% url 'add funds' request.user.id %}">Add Funds</a></li>
                <li><a href="{% url 'user logout' %}">Logout</a></li>
            </ul>
        </li>
    </ul>
</nav>
<div>
    {% if object.image %}
        <img src="{{ object.image }}" alt="Error">
    {% else %}
        <img src="/static/images/no_profile.jpg" alt="Error">
    {% endif %}
    <h3>Username: {{ request.user.username }}</h3>
    <h3>Name: {{ object.get_full_name }}</h3>
    {% if object.date_of_birth %}
        <h3>Date of birth: {{ object.date_of_birth }}</h3>
    {% else %}
        <h3>Date of birth: No info</h3>
    {% endif %}
    <h3>Wallet: {{ object.wallet }}$</h3>
    <br>
    <a href="{% url 'edit profile' request.user.id %}" id="edit">Edit</a>
</div>


</body>
</html>