<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game Shop</title>
    <link rel="icon" href="/static/images/head_icon.ico">
    <link rel="stylesheet" href="/static/css/store/dashboard.css">
</head>
<body>
<nav>
    <p>Game Shop</p>
    <ul>
        {% if not request.user.is_authenticated %}
            <li><a href="{% url 'dashboard' %}">Games</a></li>
            <li><a href="{% url 'index' %}">Login or Create account</a></li>
        {% endif %}
        {% if request.user.is_authenticated %}
            <li><a href="{% url 'dashboard' %}">Games</a></li>
            <li><a href="#">My Library</a></li>
            <li><a href="#">Contacts</a></li>
            <li><a>Profile</a>
                <ul>
                    <li><a href="{% url 'details' request.user.id %}">Details</a></li>
                    <li><a href="{% url 'add funds' request.user.id %}">Add Funds</a></li>
                    <li><a href="{% url 'user logout' %}">Logout</a></li>
                </ul>
            </li>
            </ul>
        {% endif %}
</nav>

<br>
<br>

{% if games %}
    <div id="games container">
        {% for game in games %}
            <div id="game">
                <img src="{{ game.image }}" alt="Error">
                <h3>{{ game.name }}</h3>
                <a href="{% url 'game details' %}">See details</a>
            </div>
        {% endfor %}
    </div>
{% else %}
    <h1 id="no_games_h1">
        There are no games yet!
    </h1>
    <img src="/static/images/no_games_photo.gif" alt="Error" id="no_games_img">
{% endif %}
</body>
</html>