<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game Shop</title>
    <link rel="icon" href="/static/images/head_icon.ico">
    <link rel="stylesheet" href="/static/css/store/dashboard_games.css">
</head>
<body>
<nav>
    <p>Game Shop</p>
    <ul>
        {% if not request.user.is_authenticated %}
            <li><a href="{% url 'dashboard' %}">Shop</a></li>
            <li><a href="{% url 'index' %}">Login or Create account</a></li>
        {% endif %}
        {% if request.user.is_authenticated %}
            <li><a href="{% url 'dashboard' %}">Shop</a></li>
            {% if not request.user.is_staff %}
                <li><a href="{% url 'owned games' %}">My Library</a></li>
            <li><a href="{% url 'feedback given' %}">Feedback</a></li>
            {% endif %}
            {% if request.user.is_staff %}
                <li><a href="{% url 'add game' %}">Add New Game</a></li>
            {% endif %}
            <li><a>Profile</a>
                <ul>
                    <li><a href="{% url 'details' request.user.id %}">Details</a></li>
                    {% if not request.user.is_staff %}
                        <li><a href="{% url 'add funds' request.user.id %}">Add Funds</a></li>
                    {% endif %}
                    <li><a href="{% url 'user logout' %}">Logout</a></li>
                </ul>
            </li>
            </ul>
        {% endif %}
</nav>

<br>
<br>

{% if games %}
    <h1>These are the games available now</h1>
    <hr>
    <br>
    <br>
    <div id="games_container">
        {% for game in games %}
            <div class="game">
                {% if game.image %}
                    <img src="{{ game.image.url }}" alt="Error">
                {% else %}
                    <img src="/static/images/no_game_imgae.jpg" alt="Error">
                {% endif %}

                <h3>Name: {{ game.name }}</h3>
                <h4>Price: {{ game.price }}$</h4>
                {% if request.user.is_authenticated and not request.user.is_staff %}
                    <a href="{% url 'game details' game.pk %}" id="see_game_details">See details</a>
                    <a href="{% url 'buy game' game.pk %}" id="buy_current_game">Buy game</a>
                {% endif %}
                {% if request.user.is_staff %}
                    <a href="{% url 'edit game' game.pk %}" id="editing_as_admin">Edit Game</a>
                    <a href="{% url 'delete game' game.pk %}" id="deleting_as_admin">Delete Game</a>
                {% endif %}
                <br>
                <br>
                <br>
                <br>
            </div>
        {% endfor %}
    </div>
{% else %}
    <h1 id="no_games_h1">
        There are no games yet!
    </h1>
    <img src="/static/images/no_games_photo.gif" alt="Error" id="no_games_img">
{% endif %}
</body>
</html>