<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game Shop</title>
    <link rel="stylesheet" href="/static/css/store/index.css">
    <link rel="icon" href="/static/images/head_icon.ico">
</head>
<body>
<nav>
    <p>Game Shop</p>
{#    <ul>#}
{#        <li><a href="#">Home</a></li>#}
{#        <li><a href="#">Home</a>#}
{#            <ul>#}
{#                <li><a href="#">ASD</a></li>#}
{#                <li><a href="#">QWE</a></li>#}
{#                <li><a href="#">ZXC</a></li>#}
{#            </ul>#}
{#        </li>#}
{#        <li><a href="#">Home</a></li>#}
{#        <li><a href="#">Home</a></li>#}
{#    </ul>#}
</nav>
<br>
<br>
<br>
<br>
<br>
<br>
<div id="welcome">
    <br>
    <h1 id="title_index">Game Shop</h1>
    <p>Buy and play your favourite games</p>
    <br>
    <a href="{% url 'user registration' %}">Registration</a>
    <a href="{% url 'user login' %}">Login</a>
</div>
</body>
</html>
