<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game Shop</title>
    <link rel="icon" href="/static/images/head_icon.ico">
    <link rel="stylesheet" href="/static/css/confirmation_delete.css">
</head>
<body>
<nav>
    <p>Game Shop</p>
</nav>
<h1>
    Are you sure you want to delete this account?
</h1>
<div>
    <form action="{% url 'delete profile' request.user.id %}" method="post" enctype="multipart/form-data">
        {{ form }}
        {% csrf_token %}
        <button id="yes">Delete</button>
        <a href="{% url 'details' request.user.pk %}" id="no">No</a>
    </form>
</div>
</body>
</html>