<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game Shop</title>
    <link rel="icon" href="/static/images/head_icon.ico">
    <link rel="stylesheet" href="/static/css/login.css">
</head>
<body>
<nav>
    <p>Game Shop</p>
</nav>
<h1>
    Login to your account
</h1>
<br>
<br>
<section id="LoginPage">
    <form action="{% url 'user login' %}" method="post">
        <fieldset>
            <legend>Login</legend>

            {{ form }}
            {% csrf_token %}
            <br>
            <button>Login</button>
        </fieldset>
    </form>
</section>
</body>
</html>