<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game Shop</title>
    <link rel="icon" href="/static/images/head_icon.ico">
    <link rel="stylesheet" href="/static/css/registration.css">
</head>
<body>
<h1>
    Create account
</h1>
<section id="registerPage">
    <form action="{% url 'user registration' %}" method="post" enctype="multipart/form-data" id="registration form">
        <fieldset>
            <legend>Registration</legend>
                {{ form }}
            {% csrf_token %}
            <br>
            <button>Save</button>
        </fieldset>
    </form>
</section>
</body>
</html>